/ {
	key_pool {
		compatible = "gpio-keys";

		inp {
			gpios = <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
					<&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};
	/delete-node/ key_matrix;
};
